<div style="padding: 1px; padding-left: 10px; background: #F0FAFF; "> 
<h2> Imports & Connect to cluster: </h2>

Imports

In [1]:
import os
import pymongo
import pandas as pd
from pymongo import MongoClient

from datetime import datetime, timedelta,  timezone

Connect to Mongodb Database via PyMongo MongoClient

In [2]:
client = MongoClient('mongodb+srv://DowntonCrabby:riodqfLHpsyojsp9@data514.wyo76m7.mongodb.net/test')

database = client['AirBnbDataset']

listings = database["listings"]
calendar = database['calendar']
reviews  = database["reviews"]
neighborhoods = database["neighborhoods"]

set csv save path for query results

In [3]:
csv_save_path = r"C:\Users\kater\AI_python_packages\CSE514\project_datasets\query_results"

<div style="padding: 1px; padding-left: 10px; background: #F0FAFF; "> 
<h2> Queries: </h2>

<div style="padding: 1px; padding-left: 10px; background: #F0FAFF; "> 
<h4>1.  Display list of stays in Portland, OR with details: </h4>

- name
- neighborhood
- room type
- how many guests it accommodates
- property type and amenities
- per night’s cost
- is available for the next two days 
- in descending order of rating

dynamic date creation

In [4]:
days_ahead_1 = datetime.now(timezone.utc)+timedelta(1)
days_ahead_1 = days_ahead_1.replace(hour= 0, minute=0, second=0, microsecond=0)
days_ahead_3 = datetime.now(timezone.utc)+timedelta(3)
days_ahead_3 = days_ahead_3.replace(hour= 0, minute=0, second=0, microsecond=0)

build query/aggretation

In [5]:
available_portland_listings = calendar.aggregate([
    {
        '$match': {
            'state': 'Oregon', 
            'city': 'Portland', 
            'date': {
                '$gte': days_ahead_1, 
                '$lt': days_ahead_3
            }, 
            'available': True
        }
    }, {
        '$group': {
            '_id': {
                'listing_id': '$listing_id'
            }, 
            'count': {
                '$sum': 1
            }
        }
    }, {
        '$match': {
            'count': 2
        }
    }, {
        '$project': {
            'listing_id': 1
        }
    }
])

available_listing_ids= [doc['_id']['listing_id'] for doc in available_portland_listings]

listing_information = listings.aggregate([
    {
        '$match':{
            'listing_id': {
                '$in': available_listing_ids
            }
        }
    },
    {
        '$sort': {
            'review_scores_rating': -1
        }
    }, {
        '$project': {
            'name': 1, 
            'neighborhood': 1, 
            'room_type': 1, 
            'accomodates': 1, 
            'property_type': 1, 
            'amenities': 1, 
            'price': 1
        }
    }
])

put query output in a dataframe for easier viewing

In [6]:
q1_dataframe = pd.DataFrame(list(listing_information))
q1_dataframe = q1_dataframe.drop(columns="_id")

view the output

In [7]:
q1_dataframe

,name,neighborhood,property_type,room_type,amenities,price
0,Perfect Portland Place,Goose Hollow,Entire condominium (condo),Entire home/apt,"[""Portable fans"", ""Washer \u2013\u00a0In build...",104.0
1,Free Standing Alley House with Garage,Sullivan's Gulch,Entire cottage,Entire home/apt,"[""Portable fans"", ""Coffee maker"", ""Cooking bas...",90.0
2,Maple Cottage PDX/ Fun Historic Mississippi Ave.,Boise,Entire guesthouse,Entire home/apt,"[""Coffee maker"", ""Cooking basics"", ""Dedicated ...",79.0
3,Rosie Room at Farmhouse Cottage,Marshall Park,Private room in residential home,Private room,"[""Indoor fireplace"", ""Shampoo"", ""Essentials"", ...",85.0
4,Captain's Bed at SW PDX Cottage,Marshall Park,Private room in cottage,Private room,"[""Children\u2019s books and toys"", ""Coffee mak...",85.0
...,...,...,...,...,...,...
2358,Everything you need | Studio in Portland,Northwest District,Entire serviced apartment,Entire home/apt,"[""Coffee maker"", ""Cooking basics"", ""Hair dryer...",154.0
2359,Relax in comfort | 1BR in Portland,Hayhurst,Entire serviced apartment,Entire home/apt,"[""Coffee maker"", ""Cooking basics"", ""Hair dryer...",173.0
2360,The Câlin & Magnifique Suite ~ NW 23rd Wonder,Northwest District,Entire rental unit,Entire home/apt,"[""Laundromat nearby"", ""Cooking basics"", ""Dedic...",234.0
2361,Modern 2 BR Home Walkable to Alberta and more,King,Entire residential home,Entire home/apt,"[""TV"", ""Kitchen"", ""Smoke alarm"", ""Washer"", ""Fr...",87.0
2362,Modern Stylish Apt in Alphabet District / Slab...,Northwest District,Entire rental unit,Entire home/apt,"[""Elevator"", ""Cooking basics"", ""Dedicated work...",182.0

save query results so they can be inspected

In [8]:
save_name = "query1_results.csv"
q1_dataframe.to_csv(os.path.join(csv_save_path, save_name))

<div style="padding: 1px; padding-left: 10px; background: #F0FAFF; "> 
<h4>2. Are there any neighborhoods in any of the cities that don’t have any listings? </h4>

build the query

In [9]:
q2_results = neighborhoods.aggregate([
    {
        '$lookup': {
            'from': 'listings', 
            'let': {
                'unique_city': '$state_city', 
                'city_neighborhood': '$neighborhood'
            }, 
            'pipeline': [
                {
                    '$match': {
                        '$expr': {
                            '$and': [
                                {
                                    '$eq': [
                                        '$state_city', '$$unique_city'
                                    ]
                                }, {
                                    '$eq': [
                                        '$neighborhood', '$$city_neighborhood'
                                    ]
                                }
                            ]
                        }
                    }
                }
            ], 
            'as': 'neighborhood_listings'
        }
    }, {
        '$project': {
            '_id': 0, 
            'state_city': 1, 
            'neighborhood': 1, 
            'number_listings': {
                '$size': '$neighborhood_listings'
            }
        }
    }, {
        '$match': {
            'number_listings': 0
        }
    }
])

put the results in dataframe for easy viewing

In [10]:
q2_dataframe = pd.DataFrame(list(q2_results))

# reorder columns for clarity
q2_dataframe = q2_dataframe[["state_city", "neighborhood", "number_listings"]]

view the results

In [11]:
q2_dataframe

              state_city          neighborhood  number_listings
0       Oregon, Portland  Northwest Industrial                0
1       Oregon, Portland         Woodland Park                0
2  California, San Diego            Bella Lago                0
3  California, San Diego             Fenton St                0
4  California, San Diego           Golf Course                0
5  California, San Diego               Miramar                0
6  California, San Diego       Thomy Locust Pl                0
7  California, San Diego        Village Center                0

save the results as a csv

In [12]:
save_name = "query2_results.csv"
q2_dataframe.to_csv(os.path.join(csv_save_path, save_name))

<div style="padding: 1px; padding-left: 10px; background: #F0FAFF; "> 
<h4>3. For each city, how many reviews are received for December of each year?</h4>

build query

In [13]:
q3_results = reviews.aggregate([
    {
        '$project': {
            '_id': 0, 
            'state_city': 1, 
            'year': {
                '$year': '$date'
            }, 
            'month': {
                '$month': '$date'
            }
        }
    }, {
        '$match': {
            'month': 12
        }
    }, {
        '$group': {
            '_id': {
                'state_city': '$state_city', 
                'year': '$year'
            }, 
            'december_reviews_count': {
                '$sum': 1
            }
        }
    }, {
        '$sort': {
            '_id': 1
        }
    }
])

put the results in a dataframe and clean up the presentation a little bit 
- no sorting will be done, just reordering columns etc.

In [14]:
q3_dataframe = pd.DataFrame(list(q3_results))

# clean up results by spliting id column into "state_city" and "year" columns
q3_dataframe = pd.concat([q3_dataframe.drop(['_id'], axis=1), q3_dataframe['_id'].apply(pd.Series)], axis=1)

# switch order of columns so they're more readable
q3_dataframe = q3_dataframe[["state_city", "year", "december_reviews_count"]]

view the results

In [15]:
q3_dataframe

               state_city  year  december_reviews_count
0   California, San Diego  2010                       5
1   California, San Diego  2011                      13
2   California, San Diego  2012                      67
3   California, San Diego  2013                     199
4   California, San Diego  2014                     487
5   California, San Diego  2015                    1125
6   California, San Diego  2016                    2172
7   California, San Diego  2017                    3416
8   California, San Diego  2018                    5920
9   California, San Diego  2019                    7960
10  California, San Diego  2020                    6838
11  California, San Diego  2021                    5081
12       Oregon, Portland  2010                       6
13       Oregon, Portland  2011                      12
14       Oregon, Portland  2012                      55
15       Oregon, Portland  2013                     203
16       Oregon, Portland  2014                     429
17       Oregon, Portland  2015                     904
18       Oregon, Portland  2016                    1620
19       Oregon, Portland  2017                    2657
20       Oregon, Portland  2018                    4120
21       Oregon, Portland  2019                    5050
22       Oregon, Portland  2020                    3118
23       Oregon, Portland  2021                    2731

save the results in a csv

In [16]:
save_name = "query3_results.csv"
q3_dataframe.to_csv(os.path.join(csv_save_path, save_name))